name: Run tests
on: [push, pull_request]

jobs:
  checkout:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        id: checkout
        uses: actions/checkout@v2

      - name: Environment setup
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
        
      - name: Install Poetry
        uses: Gr1N/setup-poetry@v7

      - name: Cache Poetry virtualenv
        uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
      
      - name: Install dependencies
        run: poetry install

      - name: Run tests
        run: poetry run pytest tests